/**/mods
/**/zipfiles
/**/logs
/**/target
/**/.metadata
/**/.settings
/**/.classpath
/**/.project
/**/bin 
/**/vertx_temp 
/**/*/*/data/index
/**/*/*/data/tlog

# Backup files
*~

# IntelliJ IDEA
/**/.idea/
/**/*.iml

# Local log4j files (used to supply different logging parameters during development)
log4j-local.properties
