<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

	<bean id="cassandraContext" class="org.mcplissken.repository.cassandra.CassandraContext"
		init-method="init" destroy-method="destroy">
		<property name="reportingService" ref="systemReporting" />
	</bean>

	<bean id="cassandraStructuredRepository"
		class="org.mcplissken.repository.cassandra.CassandraStructuredRepository"
		init-method="init">
		<property name="cassandraContext" ref="cassandraContext" />
		<property name="criteriaHandlers">
			<map key-type="java.lang.String">
				<entry key="eq">
					<bean
						class="org.mcplissken.repository.cassandra.criteriahandlers.EqualCriteria" />
				</entry>
				<entry key="in">
					<bean
						class="org.mcplissken.repository.cassandra.criteriahandlers.InCriteria" />
				</entry>
				<entry key="le">
					<bean
						class="org.mcplissken.repository.cassandra.criteriahandlers.LeCriteria" />
				</entry>
			</map>
		</property>
		<property name="serverFunctionHandlers">
			<map key-type="java.lang.String">
				<entry key="dateBack">
					<bean class="org.mcplissken.repository.key.functions.dateback.DateBack">
						<property name="resultFormatters">
							<map
								value-type="org.mcplissken.repository.key.functions.dateback.formatter.DateBackResultFormatter">
								<entry key="list">
									<bean
										class="org.mcplissken.repository.key.functions.dateback.formatter.ListDateBackResultFormatter" />
								</entry>
								<entry key="item">
									<bean
										class="org.mcplissken.repository.key.functions.dateback.formatter.OneItemDateBackResultFormatter" />
								</entry>
							</map>
						</property>
						<property name="dateStrategies">
							<map key-type="java.lang.String">
								<entry key="halfHourWindow">
									<bean class="org.mcplissken.datetime.dateback.WindowDateBackStrategy">
										<property name="minutes" value="30" />
									</bean>
								</entry>
								<entry key="hours">
									<bean class="org.mcplissken.datetime.dateback.HoursDateBackStrategy" />
								</entry>
								<entry key="days">
									<bean class="org.mcplissken.datetime.dateback.DaysDateBackStrategy" />
								</entry>
								<entry key="weeks">
									<bean class="org.mcplissken.datetime.dateback.WeeksDateBackStrategy" />
								</entry>
								<entry key="month">
									<bean class="org.mcplissken.datetime.dateback.MonthsDateBackStrategy" />
								</entry>
								<entry key="years">
									<bean class="org.mcplissken.datetime.dateback.YearsDateBackStrategy" />
								</entry>
							</map>
						</property>

					</bean>
				</entry>
			</map>
		</property>
	</bean>

	<bean id="solrjIndexRepository"
		class="org.mcplissken.repository.index.solrj.SolrjIndexRepository"
		init-method="init">
		<property name="solrUrl" value="http://localhost:8983/solr/" />
	</bean>

	<bean id="modelRepository" class="org.mcplissken.repository.ModelRepositoryProxy">
		<property name="structuredRepository" ref="cassandraStructuredRepository" />
		<property name="indexRepository" ref="solrjIndexRepository" />
	</bean>

	<service ref="modelRepository" interface="org.mcplissken.repository.ModelRepository" />

	<reference id="systemReporting"
		interface="org.mcplissken.reporting.SystemReportingService" />

</blueprint>