<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- xsi:schemaLocation="http://www.osgi.org/xmlns/blueprint/v1.0.0 http://www.osgi.org/xmlns/blueprint/v1.0.0/blueprint.xsd" -->

<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0" >

	<bean id="oauthProvider" class="org.cradle.oauth.impl.OAuthProviderImpl">
		<property name="oauthBuilders">
			<map value-type="org.cradle.oauth.OAuthBuilder">
				<entry key="google">
					<bean class="org.cradle.oauth.google.GoogleOAuthBuilder">
						<property name="apiKey" value="" />
						<property name="apiSecret" value="" />
						<property name="scope" value="https://www.googleapis.com/auth/userinfo.profile https://www.googleapis.com/auth/userinfo.email" />
						<property name="callback" value="http://localhost:8080/forex/oauth" />
						<property name="protectedUrls">
							<map value-type="java.lang.String">
								<entry key="profile" value="https://www.googleapis.com/userinfo/v2/me" />
							</map>
						</property>
						<property name="repository" ref="modelRepository"/>
					</bean>
				</entry>
			</map>
		</property>
	</bean>

	<service ref="oauthProvider" interface="org.cradle.oauth.OAuthProvider" />

	<reference id="modelRepository"
		interface="org.cradle.repository.ModelRepository" />

	<reference id="systemReporting"
		interface="org.cradle.reporting.SystemReportingService" />

</blueprint>
